body {

  box-sizing: border-box;
}
.calendar-parent {
  width: 100vw ;
}
#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 1rem;
  font-family: sans-serif;

}

li, .list-group-item {
  padding: 0;
}

#wag-delete-button {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 7px;
}
.next-button-container{
display: flex;
}
#calendar-container {
  width: 100%;
}
#weekdays {
  width: 100%; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: #247BA0;
}
#weekdays div {
  width: 100%;
}
#calendar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height:70vh;
  grid-template-rows:  repeat(6, 1fr) ;
}
/* .day-number-square {
  background-color: red;
} */
.day {
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  height: 100%;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
}
.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color:#e8f4fa;
}

.day-numbers{
  font-size:10px;
  margin:0;
}
.event {
  font-size: 7px;
  /* border-radius: 5px; */
  overflow: hidden;
  font-weight:800;
  text-align: center;
}

.off-Icon svg.bi.bi-house-heart, .day-Icon svg.bi.bi-sun, .night-Icon svg.bi.bi-moon-fill, .err-Icon{
  width: 12px !important; 
  height: 12px !important;
  display: block;
}

.off-Icon, .day-Icon, .night-Icon, .err-Icon{
  padding: 5px 0 0 0;
}

.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 33px;
  left: calc(50% - 175px);
  position: fixed;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}

#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 200vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}
.waglist-name {
  margin: 0;
  font-size: 14px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .event {
    font-size: 10px;
  }
  .off-Icon svg.bi.bi-house-heart, .day-Icon svg.bi.bi-sun, .night-Icon svg.bi.bi-moon-fill, .err-Icon{
    width: 16px !important; 
    height: 16px !important;
  }

}